<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<body>
<wicket:panel>
    <div class="list-group">
        <a href="#" wicket:id="home" class="list-group-item">Main</a>
        <a href="#" wicket:id="addFeed" class="list-group-item">Add feed</a>
        <a href="#" wicket:id="about" class="list-group-item">link3</a>
        <div wicket:id="signOutPanel" class="list-group-item"/>
        <a href="#" wicket:id="login" class="list-group-item">Login</a>
    </div>
</wicket:panel>
</body>
</html>
