/*
tr.pagination_row {
    display: inline-block;
    padding: 0;
    margin-bottom: 20px !important;
}

tr.pagination_row td {
    display: inline;
}

tr.pagination_row td a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

tr.pagination_row td a[disabled = "disabled"] {
    background: #e5dbdb;
}

tr.pagination_row td a:hover:not(.active) {
    background-color: #e5dbdb;
}

.page-header a:link {
    text-decoration: none;
    color: #333333;
}

.page-header a:visited {
    text-decoration: none;
    color: #333333;
}

.page-header a:hover {
    text-decoration: none;
}

.page-header a:active {
    text-decoration: none;
}*/
