<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<body>
<wicket:panel>
    <a href="#" wicket:id="home">Main</a>
    <a href="#" wicket:id="addFeed">Add feed</a>
    <a href="#" wicket:id="link3">link3</a>
    <span wicket:id="signOutPanel"/>
    <a href="#" wicket:id="login">Login</a>
</wicket:panel>
</body>
</html>
